body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}
.App {
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid var(hsla(0, 0%, 100%, 0.16), rgba(255, 255, 255, 0.25));
  padding: 2%;
}
svg {
  cursor: pointer;
}
